/* 
----------------------------------------------
GENERIC class styles
----------------------------------------------
*/
.off-screen { position:absolute; left:-10000px; top:-10000px; }
.hide_me { display: none; }
.no_border, .no-border { border: none; }
.link_color { color:#766756; }
.clearFloatSafe { float:left; width:98.5% }
.normal { font-weight: normal; font-style: normal; } /* primarily to make text within headings not bold or italic */
.clear_float { clear:both; }
.sup { position:relative; font-size:85%; bottom:0.4em; }
ul.noBullet li, ul li.noBullet, ol ul.noBullet li, ol ul li.noBullet, div.noBullet ul li, div.noBullet ul, dd.noBullet ul li,
#left ul.noBullet li , #left ul li.noBullet , #left ol ul.noBullet li , #left ol ul li.noBullet , #left div.noBullet ul li , #left div.noBullet ul , #left dd.noBullet ul li,
#right ul.noBullet li, #right ul li.noBullet, #right ol ul.noBullet li, #right ol ul li.noBullet, #right div.noBullet ul li, #right div.noBullet ul, #right dd.noBullet ul li 
{
   list-style-type:none !important;
   list-style-image: none !important;
   margin-left: 0%;
   padding-left: 0%; }
ul.noBullet.noLeft, #left ul.noBullet.noLeft, #right ul.noBullet.noLeft { margin-left: 0%; padding-left: 0%; }

/* 
----------------------------------------------
Margin & Padding styles
----------------------------------------------
*/
.padding-none { padding:0; }
.padding-top_none { padding-top:0; }

.padding-bottom_1 ,	.padding_bottom_1	{ padding-bottom: 1em; }
.padding-bottom_0-7,.padding_bottom_0-7 ,	.padding-bottom_07	{ margin-bottom:0.7em; }
.padding-bottom_0 ,	.padding_bottom_0	{ padding-bottom:0; }

.padding-left_0 ,	.padding_left_0		{ padding-left:0; }
.padding-left_0-7 ,	.padding_left_0-7	{ padding-left:0.7em; }
.padding-left_1 ,	.padding_left_1		{ padding-left:1em; }
.padding-left_1-2 ,	.padding_left_1-2	{ padding-left:1.2em; }
.padding-left_1-5 ,	.padding_left_1-5	{ padding-left:1.5em; }

.margin-top_0 ,		.margin_top_0		{ margin-top:0 !important; }
.margin-top_0-5 ,	.margin_top_0-5 ,	.margin-top_0_5em { margin-top:0.5em !important; }
.margin-top_1 ,		.margin_top_1 ,		.margin-top_1em { margin-top:1em !important; }
.margin-top_1-5 ,	.margin_top_1-5 ,	.margin-top_1_5em { margin-top:1.5em !important; }
.margin-top_2 ,		.margin_top_2 ,		.margin_top_2em { margin-top:2em !important; }
.margin-top_2-5 ,	.margin_top_2-5 ,	.margin-top_2_5em	{ margin-top:2.5em !important; }
.margin-top_3 ,		.margin_top_3 ,		.margin-top_3em { margin-top:3em !important; }
.margin-top_6 ,		.margin_top_6		{ margin-top:6em !important; }
.margin-top_5 ,		.margin_top_5		{ margin-top:5em !important; }
.margin-top_-1-75 ,	.margin-top_-1_75	{ margin-top:-1.75em; }

.margin-left_0 ,		.margin_left_0		{ margin-left:0 !important; }
.margin-left_0-3 ,	.margin_left_0-3	{ margin-left:0.3em !important; }
.margin-left_0-7 ,	.margin_left_0-7 ,	.margin-left_07 ,	.margin_left_07 { margin-left:0.7em !important; }
.margin-left_1 ,		.margin_left_1		{ margin-left:1em !important; }
.margin-left_2 ,		.margin_left_2		{ margin-left:2em !important; }

.margin_right_percentage { margin-right:10% !important; }
.margin-right_0-3 ,	.margin_right_0-3 ,	.margin_right_03	{margin-right:0.3em !important; }
.margin-right_0-7 ,	.margin_right_0-7 ,	.margin_right_0_7	{ margin-right:0.7em !important; }
.margin-right_1 ,	.margin_right_1em	{ margin-right:1em !important; }
.margin-right_2 ,	.margin_right_2		{ margin-right:2em !important; }
.margin-right_3 ,	.margin_right_3		{ margin-right:3em !important; }
.margin-right_4 ,	.margin_right_4		{ margin-right:4em !important; }
.margin-right_5 ,	.margin_right_5		{ margin-right:5em !important; }
.margin-right_-1-5 ,	.margin_right_-1_5 ,	.margin_right-1_5	{ margin-right:-1.5em !important; }

.margin-bottom_0 ,	.margin_bottom_0	{ margin-bottom:0 !important; }
.margin-bottom_m ,	.margin_bottom_m	{ margin-bottom:0.5em !important; }
.margin-bottom_1 ,	.margin_bottom_1	{ margin-bottom:1em !important; }
.margin-bottom_2 ,	.margin_bottom_2	{ margin-bottom:2em !important; }
.margin-bottom_3 ,	.margin_bottom_3	{ margin-bottom:3em !important; }

.width-3 { width:3em; }

/* 
----------------------------------------------
   Floating and Column styles
---------------------------------------------- 
*/
.float_left { float:left; }
.float_right { float:right }
.col_1_medium_margin_r  { float: left; margin-right: 4em; list-style-type:none; }
.col_1_medium_margin_r li { list-style-type:none; }

/* 
----------------------------------------------
   Floating images and captions
---------------------------------------------- 
*/

div.image-caption, p.image-caption { color: #808080; font-style: italic; font-size: 85%; }
div.image-caption img, p.image-caption img { margin: 0% 0% 0.3em 0%; border: 0.1em solid #000; display: block; }

/* Floated div and p needs WIDTH to be set inline */
div.image-left, p.image-left { float: left; margin: 0% 1.5em 1.5em 0%; color: #808080; font-style: italic; font-size: 85%; }
div.image-right, div.image-RIGHT, p.image-right, p.image-RIGHT { float: right; margin: 0% 0% 1.5em 1.5em; color: #808080; font-style: italic; font-size: 85%; }
div.image-centre, p.image-centre { margin: 0% auto 1em auto; color: #808080; font-style: italic; font-size: 85%; }

div.image-left img, p.image-left img, div.image-right img, p.image-right img, div.image-centre img, p.image-centre img { margin: 0% 0% 0.3em 0%; border: 0.1em solid #000; display: block; }
img.image-left { border: 0.1em solid #000; float: left; margin: 0 1.5em 0.5em 0; }
img.image-right { border: 0.1em solid #000; float: right; margin: 0% 0% 0.5em 1.5em; }
img.image-centre { border: 0.1em solid #000; padding: 0% auto 0.5em auto; }
img.image-right-top { border: 0.1em solid #000; float: right; margin: 0 0 1.5em 1em; }
div.image-left.no-border img , p.image-left.no-border img , div.image-right.no-border img , p.image-right.no-border img , div.image-centre.no-border img , p.image-centre.no-border img , div.no-border img , p.no-border img , img.no-border { border: none; }

img.w100, p.w100, div.w100, li.w100 { width: 100px; }
img.w125, p.w125, div.w125, li.w125 { width: 125px; }
img.w150, p.w150, div.w150, li.w150 { width: 150px; }
img.w175, p.w175, div.w175, li.w175 { width: 175px; }
img.w200, p.w200, div.w200, li.w200 { width: 200px; }
img.w225, p.w225, div.w225, li.w225 { width: 225px; }
img.w250, p.w250, div.w250, li.w250 { width: 250px; }
img.w275, p.w275, div.w275, li.w275 { width: 275px; }
img.w300, p.w300, div.w300, li.w300 { width: 300px; }
img.w325, p.w325, div.w325, li.w325 { width: 325px; }
img.w350, p.w350, div.w350, li.w350 { width: 350px; }
img.w375, p.w375, div.w375, li.w375 { width: 375px; }
img.w400, p.w400, div.w400, li.w400 { width: 400px; }
img.w425, p.w425, div.w425, li.w425 { width: 425px; }
img.w450, p.w450, div.w450, li.w450 { width: 450px; }
img.w475, p.w475, div.w475, li.w475 { width: 475px; }
img.w500, p.w500, div.w500, li.w500 { width: 500px; }
img.w525, p.w525, div.w525, li.w525 { width: 525px; }
img.w550, p.w550, div.w550, li.w550 { width: 550px; }

img.w111, p.w111, div.w111, li.w111 { width: 111px; }
img.w222, p.w222, div.w222, li.w222 { width: 222px; }
img.w333, p.w333, div.w333, li.w333 { width: 333px; }
img.w444, p.w444, div.w444, li.w444 { width: 444px; }
img.w555, p.w555, div.w555, li.w555 { width: 555px; }
img.w666, p.w666, div.w666, li.w666 { width: 666px; }

div.image-left img.imageleft {border:0 !important;}
.file-icon { position: relative; top: 3px; padding: 0% 0.3em; }

/* 
----------------------------------------------
Borders
----------------------------------------------
*/
.rounded {
	-webkit-border-radius: 3px !important;
	-khtml-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	-ms-border-radius: 3px !important;
	-o-border-radius: 3px !important;
	border-radius: 3px !important;
}
.dashed-line { border-bottom: 1px dashed #A4B8CB; padding-bottom: 0.5em; margin-bottom:0.5em; }

/* 
----------------------------------------------
colors
----------------------------------------------
*/
.red { color:#E01A22!important; }
.gray { color:#666; }
.white { color:#fff; }


.border-red { border: 1px solid #DC1A22; }

/* 
----------------------------------------------
set widths
----------------------------------------------
*/
.content_col_width { width:470px; }


.width_150px { width:150px; }
.width_250 { width:250px; }

/* 
----------------------------------------------
text styles
----------------------------------------------
*/
#content_col h2.byline, .byline { font-size:1.3em; margin-bottom:1em; color:#6b5d5c; font-weight:bold; }  
.alert_text { color:#dc1a22; }
.instructional_text { font-size:1em; color:#808080; }
.instructional_text-s { font-size:0.9em; margin-top:0.2em; color:#808080; }
.border_t-b { border: 1px solid #dc1a22; border-right:0; border-left:0; }
.bold { font-weight:bold; }
.highlight_color { color:#685556; }
.faded_text { color:#999; }
.small-text { font-size:0.85em; line-height:1.2em; }
.font-size-standard { font-size:0.9em !important; }
.text-right { text-align: right; }
.font-weight-normal { font-weight:normal!important; }

p.text1-2 { font-size:1.2em; }
.text1-4 { font-size:1.4em!important }
#h1_box_r_col p.text1-2 { font-size:1.2em; }

#content_col .underline-link { text-decoration:underline; }
.heading-addition { color:#666; font-size:0.8em; }


.highlight_box { background-color:#e4dfd9; padding:1em; }
.highlight_box_white { border:1px solid #675354; padding:1em 0.75em; margin-bottom:1em; }
.highlight_box-border { background-color:#e4dfd9; border:1px solid #685556; padding:0 0.3em 1em 1em; }
.highlight_box-border h1 { font-size:1.3em }
.border_t-b_red { border: 1px solid #dc1a22; border-right:none; border-left:0; padding:0.7em 0 0 0; margin-bottom:1.4em; }

.bold { font-weight:bold; }

.maintenance_note_box { border: 1px solid #ff0000; padding:0.5em; }

#content_col a:visited { text-decoration:underline; }

.hand-cursor { cursor: pointer; }

.highlight-fieldset-bg-color { background-color:#FBFBFB !important; border-color:#BFBFBF!important; padding:1em; margin-bottom:1.5em; }

/* 
----------------------------------------------
font sizes
----------------------------------------------
*/
.font-size-1_2 { font-size:1.2em; }
.font-size_1_5em { font-size:1.5em }


/* 
----------------------------------------------
list styles
----------------------------------------------
*/
ul li.noBullet, ul.noBullet li { list-style-type: none !important; }

.display-block { display:block !important; }

/*
#content_col ol.hierarchy li { list-style-type: decimal; }
#content_col ol.hierarchy li ol li { list-style-type: lower-alpha !important; }
#content_col ol.hierarchy li ol li ol li { list-style-type: lower-roman !important; }

#content_col ol.hierarchy li { list-style-type: decimal; }
#content_col ol.hierarchy ol li { list-style-type: lower-alpha; }
#content_col ol.hierarchy ol ol li { list-style-type: lower-roman; }

#content_col ol ol.level2 li { list-style-type: lower-alpha; }
#content_col ol ol ol.level3 li { list-style-type: lower-roman; }

#right .horizontal_list ul { display:inline; margin-left:0; width:18em; }
#right .horizontal_list ul li { display:inline; }

*/

li { padding-bottom: 0.3em; }

 ul li
,ol ul li { list-style-type: disc; }
ul ul li { list-style-type: circle; }
ul ul ul li{ list-style-type: square; }

#content_col .showBullet li { display: list-item; }
#content_col .showBullet ul li,
#content_col .showBullet ol ul li { list-style-type: disc !important; }
#content_col .showBullet ul ul li { list-style-type: circle !important; }
#content_col .showBullet ul ul ul li { list-style-type: square !important; }

#content_col .showBullet ol li { list-style-type: decimal !important; }
#content_col .showBullet ol ol li { list-style-type: lower-alpha !important; }
#content_col .showBullet ol ol ul li { list-style-type: lower-roman !important; }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    in-line text lists for horizontal index or menus 
    (See Graduate Association > Meet our Graduates > In Honourable Company #8658) */
ul.inline-list {
    border-top: 0.05em solid rgb(0, 0, 0);
    border-bottom: 0.05em solid rgb(0, 0, 0);
    padding: 1em 0%;
    width: 100%;
}
ul.inline-list {
   width: 98%;
   margin-left: 0;
}
ul.inline-list {
   width: 98%;
   margin-left: 0;
}
ul.inline-list li {
    list-style: none;
    display: inline;
    margin: 0.2em 1em 0.2em 0%;
    padding: 0.2em 0%;
}
.inline_list ul { margin-top:0; padding-top:0; }
.inline-list_no-bullet li { display:inline; list-style-type:none; margin-top:0; padding-top:0; }
.inline_list ul li, .inline-list ul li  { display: inline; padding:0% 1.5em 0%; }

ul.show-bullet li { list-style-type:disc; display:block;}

 .handbook ol li
,.handbook ol ol ol li
,.handbook ol ol ol ol ol li
,.handbook ol ol ol ol ol ol ol li
,.handbook ol ol ol ol ol ol ol ol li
{ /* see #116684 */
	list-style-type: lower-alpha;
}
 .handbook ol ol li
,.handbook ol ol ol ol li
,.handbook ol ol ol ol ol ol li
,.handbook ol ol ol ol ol ol ol ol li
,.handbook ol ol ol ol ol ol ol ol ol ol li
{ /* see #261807 */
	list-style-type: lower-roman;
}

 #content_col ul.landing_links
,#content_col div.landing_links ul
,#content_col ul.landing /* Pseudo landing page child page list */
{
	margin: 1em 0%;
	padding: 0%;
}
 #content_col ul.landing_links li
,#content_col div.landing_links ul li
,#content_col ul.landing li
{
	margin: 0%;
	padding: 0% 0.5em 0% 0%;
	list-style: none;
	display: inline;
}
#content_col ul.landing_links li.first
{
}
#content_col ul.landing li
{
	margin-right: 0.5em;
}
/* ---------------------------------------------- 
START: midyear course browser (2009) styles.
a.invisible-link and a.removed-link were created Tim Roberts for
use in the Midyear course browser (2009) only
---------------------------------------------- */
 #content_col a.invisible-link
,#content_col a.invisible-link:link
,#content_col a.invisible-link:hover
,#content_col a.invisible-link:active
,#content_col a.invisible-link:visited
,#content_col a.invisible-link:focus
{
	text-decoration: none;
	color: #484035;
/*	color: #685556;	*/
/*	color: #766756;	*/
	cursor: text;
}
 #content_col a.removed-link
,#content_col a.removed-link:link
,#content_col a.removed-link:hover
,#content_col a.removed-link:active
,#content_col a.removed-link:visited
,#content_col a.removed-link:focus
{
	display: none;
}
/* END: midyear course browser (2009) styles.
---------------------------------------------- */
/*
----------------------------------------------
Academic Skills custom styles
----------------------------------------------
*/
p.apa-style
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
	text-indent: -2em;
	line-height: 2em;
}
blockquote.apa-style { line-height: 2em; }

p.chicago-bib
{
	text-indent: -2em;
	margin-left: 2em;
}
p.chicago-footnote
{
	text-indent: 2em;
	margin: 0%;
}
ol.chicago-footnote
{
	margin: 1em 0%;
	padding: 0%;
}
ol.chicago-footnote li
{
	text-indent: 2em;
	list-style-position: inside;
	margin: 0%;
}
h4.chicago-net-foot { color: #000; }
/*
----------------------------------------------
Print styles specifically for content.
----------------------------------------------
*/
@media print {
	.page-break-before {
		page-break-before: always;
	}
}

/* 
----------------------------------------------
0rdered lists 
----------------------------------------------
*/
ol li { list-style-type: decimal; }
ol ol li, ol.alpha li { list-style-type: lower-alpha; }
ol ol ol li, ol.roman li { list-style-type: lower-roman; }
#content_col ul.show-bullet li { list-style-type:disc; }

/* 
----------------------------------------------
3rd Column
----------------------------------------------
*/
.width-215px { width: 215px; margin-left:0; }
#right fieldset { padding:0 0 0.5em 1em; }
#right legend { margin-bottom:0.5em; color:#333; }

/* 
----------------------------------------------
Image center
----------------------------------------------
*/
.image_center{text-align:center; color:#DC1A22;}

/* --------------------------------------
status classes (to highlight when an asset is under construction or archived in a normal asset listing)
-------------------------------------- */
.status-under_construction, a.status-under_construction:visited, a.status-under_construction:active, a.status-under_construction:hover, a.status-under_construction:focus, .status-under_construction a:visited, .status-under_construction a:active, .status-under_construction a:hover
,.status-under_construction a:focus { color: #99f; font-weight: normal; font-style: italic; }
.status-archived, a.status-archived:visited, a.status-archived:hover, a.status-archived:active, a.status-archived:focus, .status-archived a:active, .status-archived a:visited, .status-archived a:hover, .status-archived a:focus{ color: #999; font-weight: normal; font-style: italic; }
.status-archived:before, .status-under_construction:before { content: "(( "; font-style: normal;  }
.status-archived:after  { content: " )) [ ARCHIVED ]"; font-style: normal; }
.status-under_construction:after  { content: " )) [ UNDER CONSTRUCTION ]"; font-style: normal; }



/* --------------------------------------
file type classes (to file type icon as bullet)
-------------------------------------- */
#content_col ul li.pdf_file { list-style-image: url(//www.acu.edu.au/__data/assets/image/0011/50312/pdficon_small.gif); }
#content_col ul li.ms_word_document { list-style-image: url(//www.acu.edu.au/__data/assets/image/0016/141271/word.png); }
#content_col ul li.ms_excel_document { list-style-image: url(//www.acu.edu.au/__data/assets/image/0015/141270/excel.png); }
#content_col ul li.folder { list-style-image: url(//www.acu.edu.au/__data/assets/image/0003/141267/folder.png); }
#content_col ul li.folder span { display: none; }


#content_col blockquote { font-size:1.2em; }

a.button2{
background: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE) repeat scroll 0 0 transparent;
    border: 1px solid #BFBFBF;
    border-radius: 3px 3px 3px 3px;
    float: left;
    font-size: 1em;
    font-weight: bold;
    margin-top: 1em;
    min-height: 2em;
    padding: 0.6em 1em 0.3em;
    text-decoration: none !important;
    }
    
a.button2 img {
    border-left: 1px solid #DCDCDC;
    float: right;
    padding: 0.3em 0.3em 0.6em 1em;
    margin-left:0.6em;
}

/* 2012 design buttons */
a.button-blue {
	position:relative;
	background-image:url(//www.acu.edu.au/__data/assets/image/0005/489533/blue-button.png);
	background-repeat:repeat-x;
	background-color:#193869;  /* for IE9 + older */
	background: -moz-linear-gradient(center top, #00539F, #193869) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00539F), color-stop(100%, #193869)) repeat scroll 0 0 transparent; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00539F 0%, #193869 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00539F 0%, #193869 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00539F 0%, #193869 100%); /* IE10+ */
	background: linear-gradient(center top, #00539F, #193869);
	border: 1px solid #BFBFBF;
	border-radius: 5px 5px 5px 5px;
	float:left;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.9em 3.6em 1.1em 1em;
	text-decoration: none!important;
	color: #FFFFFF;
	font-size: 1.2em;
	width:auto;
}
a.button-blue:visited { 
        color:#fff!important; 
        }
a.button-blue:visited { 
        color:#fff!important; 
        }
a.button-blue:hover { 
        text-decoration:underline!important; 
        }

.button-blue img {
	position:absolute;
	top:0.5em;
	right:1em;
	border-left: 1px solid #DCDCDC;
	padding:0.6em 0.2em 0.4em 0.8em;
}

/* Layout specific */
.pre-footer-left { font-size:0.7em; position:absolute; left:0; }

/*Staff Directory*/

#content_col #staff_dir li {
    display: block;
    display: list-item;
    margin: 0 0 0.5em 1.5em;
    padding: 0 0 0 0.5em;
}

#content_col #staff_dir ul li  {
    list-style-type: disc;   
}


/*  
- - - - - - - - - - - - -
BOOTSTRAP OVERRIDE STYLES
- - - - - - - - - - - - -
*/
/*  BUTTONS - default, secondary, primary  */

.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    border-bottom-color: hsla(0, 0%, 0%, 0);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: hsla(0, 0%, 0%, 0);
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: hsla(0, 0%, 0%, 0);
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: hsla(0, 0%, 0%, 0);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 1em;
    margin-top: 0.7em;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 0.9em;
    font-weight:bold;
}

.btn-secondary {
    background-color: #00529E;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-color-value: #00529E;
    color: #fff!important;
    
}

.btn-primary {
    background-color: #B7002A;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-color-value: #333;
    color: #fff!important;
}

.btn-default {
    background-color: #fff;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border:1px solid #BFBFBF;
    color: #333;
}

a.btn { text-decoration:none!important; }
a.btn:hover { background-color:#B8002B; }
a.btn-default:hover { background-color: #BFBFBF; color: #333; }

/*  
Bootstrap (v2) ICONS  
*/

[class^="icon-"], [class*=" icon-"] {
    background-image: url("//www.acu.edu.au/__data/assets/image/0010/574768/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}
[class^="icon-"], [class*=" icon-"] {
    background-image: url("//www.acu.edu.au/__data/assets/image/0010/574768/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}

.icon-chevron-right,.glyphicon-chevron-right {
    background-position: -456px -72px;
}
.icon-white, .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:focus > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > li > a:focus > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:focus > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"], .dropdown-submenu:focus > a > [class*=" icon-"] {
    background-image: url("//www.acu.edu.au/__data/assets/image/0011/574769/glyphicons-halflings-white.png");
}

.glyphicon {
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  position: relative;
  top: 1px;
}

span.glyphicon {
  position: absolute;
  right: 4%;
  top: 30%;
}

/*  Bootstrap Alerts  */
.alert {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FCF8E3;
    border-bottom-color: #FBEED5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #FBEED5;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #FBEED5;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #FBEED5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    margin-bottom: 20px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 35px;
    padding-top: 8px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert-info {
    color: #294653 !important;
    background-color: #D9EDF7;
    border-bottom-color: #BCE8F1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #BCE8F1;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #BCE8F1;
    border-top-color: #BCE8F1;
    color: #3A87AD;
    border-left: 5px solid #D0E3F0;
}

.alert-danger, .alert-error {
    background-color: #F2DEDE;
    border-bottom-color: #EED3D7;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #EED3D7;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #EED3D7;
    border-top-color: #EED3D7;
    color: #522D2D;
    border-left: 5px solid #DFB5B4;
}
